<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="">
            <div class="my_forms">
                <input id='a' type="number" placeholder="first number">
                <input id='b' type="number" placeholder="second number">
            </div>
            <div class="my_funcs">
                <a type="submit" id="func" href="{% url 'add' %}">Сумма</a>
                <a type="submit" id="func" href="{% url 'substract' %}">Вычитание</a>
                <a type="submit" id="func" href="{% url 'multiply' %}">Умножение</a>
                <a type="submit" id="func" href="{% url 'divide' %}">Деление</a>
            </div>
        </form>
        
    </div>

    <script type="text/javascript">
        $(document).on('click', '#func', function(e) {
            console.log($(this).attr('href'));
        
            var myData = {
                    A: $("#a").val(),
                    B: $("#b").val(),
                
                }

            e.preventDefault();
            console.log(myData)
            $.ajax({
                headers: {"X-CSRFToken": '{{csrf_token}}'},
                type: 'POST',
                url: $(this).attr('href'),
                contentType: 'application/json',
                data: JSON.stringify(myData),
                success: function(json) {
                    console.log(json)

                }
            });
        })
    </script>
</body>
</html>